<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../images/icono-de-pestaña.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/browser.css">
    <link rel="stylesheet" href="../styles/estilos.css">
    <title> Ludum </title>
</head>

<body>
    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <img src="../images/logo.png" class="logo">
            </div>

            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                    <a href="index.html" class="nav__links">Inicio</a>
                </li>
                <li class="nav__items">
                    <a href="#Aprender" class="nav__links">Lenguajes</a>
                </li>
                <li class="nav__items">
                    <a href="#knowledge" class="nav__links">Softwares</a>
                </li>
                <li class="nav__items">
                    <a href="#questions container" class="nav__links">Proximo</a>
                </li>

                <img src="../images/ico/close.svg" class="nav__close">
            </ul>

            <div class="nav__menu">
                <img src="../images/ico/menu.svg" class="nav__img">
            </div>
        </nav>

        <section class="hero__container container">
            <h1 class="hero__title">Aprende a programar a través de videojuegos</h1>
            <p class="hero__paragraph"></a>
        </section>
    </header>



    <main>
        <section class="container about" id="Aprender">
            <h2 class="subtitle">¿cual lenguaje te gustaria aprender?</h2>
            <p class="about__paragraph">Todo lo necesario y los recusos para aprender atrabes de desarollo de video juegos</p>

            <div class="about__main">
                <article class="about__icons">
                    <img src="../images/c++.png" class="about__icon">
                    <h3 class="about__title">C++ </h3>
                    <p class="about__paragrah">Result C++. Este lenguaje de programación de videojuegos tiene un tiempo de ejecución muy corto, permite a los desarrolladores controlar el hardware y además es compatible con la mayoría de entornos de programación. Tiene una curva de aprendizaje corta y, si le coges el truco, puedes programar fácilmente en otros idiomas.</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=ves0_JB-fEA&list=PLcLC2I7iifCk3ifpp5bZOl2O28wPSJq47" class="cta">Aprende ahora</a>
                </article>

                <article class="about__icons">
                    <img src="../images/Web.png" class="about__icon">
                    <h3 class="about__title">Html-Css-Js</h3>
                    <p class="about__paragrah">Html Css Js se encaja dentro de los lenguajes para la web del lado del cliente. Es compatible con los navegadores más habituales, aunque no con todos. Otra de las características de este lenguaje es que puede variar de un navegador a otro, incluso puede ser distinto en versiones distintas del mismo navegador.</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=DEgrCZ472n4&list=PL2LTeu9sg_vAKaHzEgjML9LeYfRkmMSJn&index=1" class="cta">Aprende ahora</a>
                </article>

                <article class="about__icons">
                    <img src="../images/python.png" class="about__icon">
                    <h3 class="about__title">Python</h3>
                    <p class="about__paragrah">Python es un lenguaje de programación orientado a objetos de código abierto que es muy simple y fácil de entender. Tiene una sintaxis simple con una amplia biblioteca de herramientas, lo que lo convierte en un lenguaje de programación único.</p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=chPhlsHoEPo" class="cta">Aprende ahora</a>
                </article>

                <article class="about__icons">
                    <img src="../images/c.png" class="about__icon">
                    <h3 class="about__title">C#</h3>
                    <p class="about__paragrah">Aunque es más fácil de aprender que C++, también es más limitado. No obstante, a pesar de no ser tan flexible ni tan compatible, algunos motores como Unity permiten programar con él. El hecho de dominar C# puede abrirte muchas puertas en el ámbito profesional, ya que es uno de los lenguajes más utilizados en entornos de Windows. </p>
                    <a target="_blank" href="https://www.youtube.com/watch?v=khnpOtZ6rvY&list=PLVF6T_Yk3AkZfdulmQRutk0RgXOXCd4VQ" class="cta">Aprende ahora</a>
                </article>

                <article class="about__icons">
                    <h3 class="about__title">Proximamente muchos mas</h3>
                </article>
                
            </div>
        </section>



        <section class="testimony" id="knowledge">
            <div class="knowledge__container container">
                <div class="knowledege__texts">
                    <h2 class="subtitle">Medios para el aprendisaje<br><span class="testimony__course">¡Gratuitos!</span></h2>
                    <p class="knowledge__paragraph">Aquí te mostramos los software para programar, algunas programas son solo para un lenguaje en especifico. la dificultad es medida de cuantos lenguajes se pueden usar y que tan actualizados pueden utilizar </p>
                </div>

                <figure class="knowledge__picture">
                    <img src="../images/pc.png" class="knowledge__img">
                </figure>
            </div>
            <div class="testimony__container container">
                <img src="../images/ico/leftarrow.svg" class="testimony__arrow" id="before" >

                <section class="testimony__body testimony__body--show" data-id="1">
                    <div class="testimony__texts">
                        <h2 class="subtitle">visual studio code es un editor de texto plano</h2><span class="testimony__course"> Nivel Facil</span></h2>
                        <p class="testimony__review">Evidentemente, para el desarrollo de aplicaciones se necesita un editor de código, y Visual Studio Code es el editor más utilizado en la actualidad. Continúa leyendo y conocerás las ventajas de Visual Studio Code, las características, para qué sirve más allá de escribir código, y algunas extensiones disponibles que te serán de utilidad.</p>
                        <a target="_blank" href="https://code.visualstudio.com/Download" class="cta">Descargarla</a>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../images/visual_studio_code.png" class="testimony__img">
                    </figure>
                </section>



                <section class="testimony__body" data-id="2">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Unity es un motor para el desalloro de juegos</h2>
                        <span class="testimony__course">Nivel Intermedio</span>
                        <p class="testimony__review">Unity es un motor gráfico multiplataforma 2D y 3D, que está transformando la industria del videojuego, pertenece a Unity Technologies y sirve para la creación de videojuegos.Puedes desarrollar juegos para varios dispositivos sin cambiar de plataforma. Aunque cabe mencionar que también se usa para agregar experiencias con realidad virtual, en el cine, la animación, y sus funciones favorecen sectores como el sector salud, automotriz, el de la construcción, entre otros.</p>
                        <a target="_blank" href="https://store.unity.com/#plans-individual" class="cta">Descargarla</a>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../images/unity.png" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="3">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Unreal Engine es un motor para el desalloro de juegos</h2><span class="testimony__course">Nivel Experto</span>
                        <p class="testimony__review">Unreal Engine es un motor de juego creado por la compañía Epic Games, mostrado inicialmente en el shooter en primera persona Unreal en 1998. Aunque se desarrolló principalmente para los shooters en primera persona, se ha utilizado con éxito en una variedad de otros géneros, incluyendo videojuegos de sigilo, lucha, MMORPG y otros RPG. Con su código escrito en C++, el Unreal Engine presenta un alto grado de portabilidad y es una herramienta utilizada actualmente por muchos desarrolladores de juegos.</p>
                        <a target="_blank" href="https://www.unrealengine.com/es-ES/download" class="cta">Entra al curso</a>
                    </div>

                    <figure class="testimony__picture">
                        <img src="../images/unreal_engine.png" class="testimony__img">
                    </figure>
                </section>

                <img src="../images/ico/rightarrow.svg" class="testimony__arrow" id="next">
            </div>
        </section>



        <section class="questions container" id="questions container">

            <section class="questions__offer">
                <h2 class="subtitle">Ideas a futuro para Ludum</h2>
                <p class="questions__copy">Quiero convertir esta página en un medio de aprendizaje a cualquier lenguaje de programación a través de los juegos</p>
            </section>

            <section class="questions__container">

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">Cursos nuevos
                            <span class="questions__arrow">
                                <img src="../images/ico/arrow.svg" class="questions__img">
                            </span>
                        </h3>
                        <p class="questions__show">Facilitare mas cursos para varios lenguajes de programación para todas las ocasiones</p>
                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">Cambios a futuro
                            <span class="questions__arrow">
                                <img src="../images/ico/arrow.svg" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">La página se encuentra en una primer versión, la próxima versión “1.1.0” tendrá un Inicio de sesión y un registro y contara con mas animaciones, la “1.2.0” tendrá cursos mas personalizados y podrás comunicarte con el maestro a través de una conversación incorporado a la página. </p>
                    </div>
                </article>
            </section>
            
        </section>
    </main>

    <footer class="footer" id="footer">
        <section class="footer__container container">
            <nav class="nav nav--footer">
                <h2 class="footer__title">MENU</h2>

                <ul class="nav__link nav__link--footer">
                    <li class="nav__items">
                        <a href="index.html" class="nav__links">Inicio</a>
                    </li>
                    <li class="nav__items">
                        <a href="#Aprender" class="nav__links">Lenguajes</a>
                    </li>
                    <li class="nav__items">
                        <a href="#knowledge" class="nav__links">Softwares</a>
                    </li>
                    <li class="nav__items">
                        <a href="#questions container" class="nav__links">Proximo</a>
                    </li>
                </ul>
            </nav>
            <form class="footer__form" action="index.html" method="POST">
                <div class="footer__inputs">
                    <input type="text" placeholder="Preguntas ?" class="footer__input" name="_replyto">
                    <input type="submit" value="prenguntar" class="footer__submit">
                </div>
            </form>
        </section>

        <section class="footer__copy container">
            <div class="footer__social">
                <a target="_blank" href="https://www.facebook.com" class="footer__icons"><img src="../images/ico/facebook.svg" class="footer__img"></a>
                <a target="_blank" href="https://twitter.com/home?lang=es" class="footer__icons"><img src="../images/ico/twitter.svg" class="footer__img"></a>
                <a target="_blank" href="https://www.youtube.com" class="footer__icons"><img src="../images/ico/youtube.svg" class="footer__img"></a>
            </div>
            <h3 class="footer__copyright">Derechos reservados &copy; Juan David </h3>
            <h3 class="footer__copyright">Vercion 1.0.0</h3>
        </section>
    </footer>
    <script src="../scripts/slider.js"></script>
    <script src="../scripts/menu.js"></script>
    <script src="../scripts/questions.js"></script>
</body>
</html>